<div class="container">

    <h3>Cadastro de Carros:</h3>

    <form #formCar="ngForm">
        <div class="row mb-3">
            <label for="name" class="col-sm-2 form-label">Nome:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="car.name" name="name" id="name" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="manufacturer" class="col-sm-2 form-label">Montadora:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="car.manufacturer" name="manufacturer" id="manufacturer" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="price" class="col-sm-2 form-label">Preço:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="car.price" name="price" id="price" required>
            </div>
            <label for="year" class="col-sm-2 form-label">Ano:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="car.year" name="year" id="year" required>
            </div>
        </div>       
        <div class="row mt-3">
            <div>
                <button class="btn btn-primary" (click)="save()" [disabled]="formCar.invalid" >Salvar</button>
            </div>
        </div>
    </form>
</div>